.button {
	color: #FFF;
	font-size: 16px;
	padding-top: 12px;
	padding-left: 28px;
	padding-right: 28px;
	background-color: transparent;
	cursor: pointer;
	border: 1px solid #fff;
	text-align: center;
	display: inline-block;
	border-radius: 80px;
	height: 45px;

	&:hover {
		background-color: #4E8839;
		border: 1px solid #729E19;
	}
	

	// font-size: 16px;
	// font-weight: 500;
	// position: absolute;
	// bottom: 0;
	// width: 50%;
	// height: 45px;
	// color: #fff;
	// background-color: #6c9c5a;
	// &:hover {
	//     cursor: pointer;
	//     background-color: #4e8839;
	// }
}



.button--left-top-corner {
	position: absolute;
	top: 24px;
	right: 158px;
}