@font-face {
    font-family: 'Fira Sans';
    src: local('Fira Sans Book'), local('FiraSans-Book'), url('firasansbook.woff2') format('woff2'), url('firasansbook.woff') format('woff'), url('firasansbook.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Sans';
    src: local('Fira Sans Medium'), local('FiraSans-Medium'), url('firasansmedium.woff2') format('woff2'), url('firasansmedium.woff') format('woff'), url('firasansmedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Sans';
    src: local('Fira Sans Bold'), local('FiraSans-Bold'), url('firasansbold.woff2') format('woff2'), url('firasansbold.woff') format('woff'), url('firasansbold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}